**DAY-1**

In [ ]:
# data analytics with python on 12-05-1025 at 20:10 hrs IST by ANSRise
print ("Welcome to ANSRise")
print('welcome to python')

Welcome to ANSRise
welcome to python

In [ ]:
age=39
print(age)
print('my age is ',age)
print('My age is ',age,'years')

39
my age is  39
My age is  39 years

Formatted string literals - f-string
first in python version 3.6 - Dec 23,2016 by a fomous python developer  Eric.V smith

In [ ]:
age=39
print(f'My age is {age} years')

My age is 39 years

In [ ]:
name1="Ashish"
name2='kusuma'
print(f',my name is {name1} and my friend name is {name2}')

,y name is Ashish and my friend name is kusuma

In [ ]:
name1="Ashish"
name2="Eshwar"
message=f'my name is {name1} and my friend name is {name2}'
print(message)

my name is Ashish and my friend name is Eshwar

In [ ]:
age=40
print(age)

40

In [ ]:
name='sameer'
Name="Kusuma"
msg=f'my name is {name} same as my friends name {Name}'
print(msg)

my name is sameer same as my friends name Kusuma

**DAY-2**

In [ ]:
#data types on 13-05-2025 at 19:39 hrs IST by ANSRise
age=25
print(f'age={age}')
print(type(age))

age=25
<class 'int'>

In [ ]:
product_sold=200
price=50
total_price=product_sold*price
print(f'revenue=Rs.{total_price}.00')

revenue=Rs.10000.00

In [ ]:
product_sold=200
price=50
total_price=product_sold*price
print(f'revenue=Rs.{total_price:,.2f}')

revenue=Rs.10,000.00

In [ ]:
temperature=98.6
print(f'temperature={temperature:.2f}')

temperature=98.60

In [ ]:
impedance=3+4j
print(f'impedance={impedance}')
print(type(impedance))

impedance=(3+4j)
<class 'complex'>

In [ ]:
name="kusuma"
print(f'name={name}')
print(type(name))
msg=f'welcome to {name}'
print(msg)

name=kusuma
<class 'str'>
welcome to kusuma

In [ ]:
#various basic operations on tuple
data=(10,98.5,'alice',3+4j,10,25,36,'kiran',"swamy",25.9)

#lenth of the tuple
print(f'length of the data={len(data)}') #method called "len()"

#tp print specific element of the tuple use INDEXING
#to print "98.5" and which index is 1
print(f'data[1]={data[1]}')
print(f'ans={data[3]}')

#to print the particular elements we want
#we use slicing
#SLICING=dividing the tuple as per the requirment using indexing
print(f'data[3:7]={data[0:10]}')
print(f'data tuple slice from index 3 to 7={data[3:8]}')
print(f'data to print={data[0:]}')#when we dont kmow the end point
print(f'data to print={data[:]}')#when we dont know the both start &end point

#when we want to print the elements alternatly
print(f'printinmg the data to print :{data[::4]}')

# python can also support backward indexing
print(f'data to print={data[-1:]}') #to print only last element

# to print all th elements using backward indexing
print(f'data to print 1={data[-10:-1]}')

print(f'data to print ={data[-10:]}')

# to print the lements by using
print(f'data={data[-5:-1]}')

length of the data=10
data[1]=98.5
ans=(3+4j)
data[3:7]=(10, 98.5, 'alice', (3+4j), 10, 25, 36, 'kiran', 'swamy', 25.9)
data tuple slice from index 3 to 7=((3+4j), 10, 25, 36, 'kiran')
data to print=(10, 98.5, 'alice', (3+4j), 10, 25, 36, 'kiran', 'swamy', 25.9)
data to print=(10, 98.5, 'alice', (3+4j), 10, 25, 36, 'kiran', 'swamy', 25.9)
printinmg the data to print :(10, 10, 'swamy')
data to print=(25.9,)
data to print 1=(10, 98.5, 'alice', (3+4j), 10, 25, 36, 'kiran', 'swamy')
data to print =(10, 98.5, 'alice', (3+4j), 10, 25, 36, 'kiran', 'swamy', 25.9)
data=(25, 36, 'kiran', 'swamy')

In [ ]:
# My experiments on data types on 14-05-2025 at 11:32
print('Welcome to Data analytrics with python & vibe coding platform')

person1='Laddu'
person2='Minnu'
msg=f'I am {person1} and my sister  is {person2}'
print(msg)

#product_purchase
a='kusuma'
b=2000
print(f'{a} gave me {b:,.2f} to purchase a Air cooler')

Welcome to Data analytrics with python & vibe coding platform
I am Laddu and my sister  is Minnu
kusuma gave me 2,000.00 to purchase a Air cooler

In [ ]:
print(f'{a} gave me {b.2f} to purchase a Air cooler')

SyntaxError: invalid decimal literal (<ipython-input-10-0c292f2f3ee4>, line 1)

In [ ]:
product_sold=1000
price=50
total_price=product_sold*price
print(f'revenue={total_price:,.2f}')
print(f'revenue={total_price:,}.00')
print(f'revenue={total_price}.000')
print(f'price={total_price,:}.00')
print(type(total_price))




#temperatue....
temp=98.6
print(f'temperature at current location={temp:.3f} degrees')
msg=f'temperature according to the weather report={temp:.2f} degrees'
print(msg)
print(type(temp))



#impedance
impedance=4+6j
print(f'impedance={impedance}')
print('impedance'==impedance)

revenue=50,000.00
revenue=50,000.00
revenue=50000.000
price=(50000,).00
<class 'int'>
temperature at current location=98.600 degrees
temperature according to the weather report=98.60 degrees
<class 'float'>
impedance=(4+6j)
False

**DAY-3**

In [ ]:
# data type tuple
tup=(10.50,98,256.000,"Kusuma","Kiran",56,'a',"abhi",10.50)

# calculate the length of the of the tup
print(f'length of the tuple={len(tup)} elements')
# to print one lement by using forward inedexing
print(f'element={tup[0]}')
print(f'elemenet={tup[4]}')



# to print the elements using slicing
print(f'element={tup[0:10]}')
print(f'data={tup[0:10:2]}')  # similiar answer printed
print(f'answer={tup[::2]}')
print(f'data={tup[3:9]}')


# to print the data using backward indexing
print(f'data={tup[-1]}')
print(f'ele={tup[-9]}')
print(f'ele={tup[-6]}')
print(f'data={tup[-7]}')
print(f'data={tup[-8]}')


#to print th elements using backward slicing
print(f'answer={tup[-9:-1]}')
print(f'data={tup[-9:]}')
print(f'element={tup[:]}')
print(f'data={tup[-9:1]}')
print(f'data={tup[:-1]}')

# to print the tuple ele bu using backward slicing with step grade
print(f'data={tup[::2]}')
print(f'data={tup[-9::1]}') # to print all the data
print(f'element={tup[::]}') # to print all the data elements
print(f'tuple={tup[-9:-5:1]}')
print(f'tuple={tup[]}')

length of the tuple=9 elements
element=10.5
elemenet=Kiran
element=(10.5, 98, 256.0, 'Kusuma', 'Kiran', 56, 'a', 'abhi', 10.5)
data=(10.5, 256.0, 'Kiran', 'a', 10.5)
answer=(10.5, 256.0, 'Kiran', 'a', 10.5)
data=('Kusuma', 'Kiran', 56, 'a', 'abhi', 10.5)
data=10.5
ele=10.5
ele=Kusuma
data=256.0
data=98
answer=(10.5, 98, 256.0, 'Kusuma', 'Kiran', 56, 'a', 'abhi')
data=(10.5, 98, 256.0, 'Kusuma', 'Kiran', 56, 'a', 'abhi', 10.5)
element=(10.5, 98, 256.0, 'Kusuma', 'Kiran', 56, 'a', 'abhi', 10.5)
data=(10.5,)
data=(10.5, 98, 256.0, 'Kusuma', 'Kiran', 56, 'a', 'abhi')
data=(10.5, 256.0, 'Kiran', 'a', 10.5)
data=(10.5, 98, 256.0, 'Kusuma', 'Kiran', 56, 'a', 'abhi', 10.5)
element=(10.5, 98, 256.0, 'Kusuma', 'Kiran', 56, 'a', 'abhi', 10.5)
tuple=(10.5, 98, 256.0, 'Kusuma')
tuple=()

In [ ]:
# Assignment to print all the elements of tuple by using backward slicing
tup=(10.50,98,256.000,"Kusuma","Kiran",56,'a',"abhi",10.50)
print(f'data={tup[::-1]}') # to print all the data in reverse order
print(f'element={tup[::-2]}') # to print all the data elements
print(f'element={tup[::]}')

data=(10.5, 'abhi', 'a', 56, 'Kiran', 'Kusuma', 256.0, 98, 10.5)
element=(10.5, 'a', 'Kiran', 256.0, 10.5)

In [ ]:
#tuple Data type on 14-05-2025 at 19:31hrs
tup=(10.50,98,256.000,"Kusuma","Kiran",56,'a',"abhi",10.50)
print(tup[4:8])
print(tup[-5:5])
print(tup[-5:])
print(tup[-5:-1])




# list concept
shopping_list=['apple',"sugar",'10.00',25.78,3+8j,'banana']
print(f'shopping_list={shopping_list}')
print(type(shopping_list))

('Kiran', 56, 'a', 'abhi')
('Kiran',)
('Kiran', 56, 'a', 'abhi', 10.5)
('Kiran', 56, 'a', 'abhi')
shopping_list=['apple', 'sugar', '10.00', 25.78, (3+8j), 'banana']
<class 'list'>

In [ ]:
#LIST
data=[10,20,30,40,'ramana',65.4,"keerthi",78,88.4]
#list operations
#1.Indexing
print(f'data[3]={data[3]}')
print(f'data[-3]={data[-3]}')

#2.slicing
print(f'data[3:6]={data[3:6]}')
print(f'data[3:]={data[3:]}')
print(f'data[:6]={data[:6]}')
print(f'data[::2]={data[::2]}')
print(f'data[::-1]={data[::-1]}')

data[3]=40
data[-3]=keerthi
data[3:6]=[40, 'ramana', 65.4]
data[3:]=[40, 'ramana', 65.4, 'keerthi', 78, 88.4]
data[:6]=[10, 20, 30, 40, 'ramana', 65.4]
data[::2]=[10, 30, 'ramana', 'keerthi', 88.4]
data[::-1]=[88.4, 78, 'keerthi', 65.4, 'ramana', 40, 30, 20, 10]

In [ ]:
#dictionary set=key :value
student={"Name":"Raghu","Roll no":2011,"Marks":95}
print(f'student={student}')
print(type(student))

#print with key
print(f'Name of the student ={student["Name"]}')
print(f'Roll no of the student ={student["Roll no"]}')
print(f'Marks of the student ={student["Marks"]}')

student={'Name': 'Raghu', 'Roll no': 2011, 'Marks': 95}
<class 'dict'>
Name of the student =Raghu
Roll no of the student =2011
Marks of the student =95

In [ ]:
#Use case on Dictionary,list,tuple

fruit_shop={"fruit_names":['mango','apple','grapes','pineapple'],
            "fruit_price":[100,200,250,300],
            "fruit_quantity":[10,20,30,40],
            "frui_color":('red','yellow','green','orange'),
            "fruit_taste":('sweet','sour','bitter'),
            "customer_names":['akash','kiran','laddu','rahul','veena'],
            "orders":[10,20,30,40]}


print(f'fruit_shop={fruit_shop}')
print(type(fruit_shop))
#Use case on Dictionary,list,tuple

fruit_shop={"fruit_names":['mango','apple','grapes','pineapple'],
            "fruit_price":[100,200,250,300],
            "fruit_quantity":[10,20,30,40],
            "fruit_color":('red','yellow','green','orange'),
            "fruit_taste":('sweet','sour','bitter'),
            "customer_names":['akash','kiran','laddu','rahul','veena'],
            "orders":[10,20,30,40]}


print(f'fruit_shop={fruit_shop}')
print(type(fruit_shop))

print(f'fruit_names={fruit_shop["fruit_names"]}')
print(f'fruit at index 0 is {fruit_shop["fruit_names"][0]} ')
print(f'fruit at index 1 is {fruit_shop["fruit_names"][1]}')
print(f'fruit at index 2 is {fruit_shop["fruit_names"][2]}')

print(f'fruit at index 0 to 1 is {fruit_shop["fruit_names"][0:2]}')

print(f'fruit_price={fruit_shop["fruit_price"]}')
print(f'fruit_quantity={fruit_shop["fruit_quantity"]}')
print(f'fruit_color={fruit_shop["fruit_color"]}')
print(f'fruit_taste={fruit_shop["fruit_taste"]}')


print(f'customer_names={fruit_shop["customer_names"]}')
print(f'orders={fruit_shop["orders"]}')

fruit_shop={'fruit_names': ['mango', 'apple', 'grapes', 'pineapple'], 'fruit_price': [100, 200, 250, 300], 'fruit_quantity': [10, 20, 30, 40], 'frui_color': ('red', 'yellow', 'green', 'orange'), 'fruit_taste': ('sweet', 'sour', 'bitter'), 'customer_names': ['akash', 'kiran', 'laddu', 'rahul', 'veena'], 'orders': [10, 20, 30, 40]}
<class 'dict'>
fruit_shop={'fruit_names': ['mango', 'apple', 'grapes', 'pineapple'], 'fruit_price': [100, 200, 250, 300], 'fruit_quantity': [10, 20, 30, 40], 'fruit_color': ('red', 'yellow', 'green', 'orange'), 'fruit_taste': ('sweet', 'sour', 'bitter'), 'customer_names': ['akash', 'kiran', 'laddu', 'rahul', 'veena'], 'orders': [10, 20, 30, 40]}
<class 'dict'>
fruit_names=['mango', 'apple', 'grapes', 'pineapple']
fruit at index 0 is mango
fruit at index 1 is apple
fruit at index 2 is grapes
fruit at index 0 to 1 is ['mango', 'apple']
fruit_price=[100, 200, 250, 300]
fruit_quantity=[10, 20, 30, 40]
fruit_color=('red', 'yellow', 'green', 'orange')
fruit_taste=('sweet', 'sour', 'bitter')
customer_names=['akash', 'kiran', 'laddu', 'rahul', 'veena']
orders=[10, 20, 30, 40]

MY EXPO ON 15-05-2025 ( List Dict)

In [ ]:
#list
lst=[10,20,30,'kusuma','laddu','lucky',96.5,'40.5','Sweety','a']

#length of the list
print(len(lst))
#print(lst)
print(lst)
print(f'elments in the list={lst}')
print(f'data={lst[0]}') #1st ele

print(f'element at index 1={lst[1]}')
print(f'element at index 2={lst[2]}')
print(f'element at index 9={lst[9]}')

print(f'elements from index 3 to 9={lst[3:10]}')
print(f'elements from index 4 to 7={lst[4:7]}')


print(f'element at index -5={lst[-5]}')
print(f'element at index -1={lst[-1]}')
print(f'elements from start to end={lst[-10:]}')
print(f'elements from reverse={lst[::-1]}') # priinting in reverse
print(f'data={lst[-5:-10:-1]}') # printing in reverse

10
[10, 20, 30, 'kusuma', 'laddu', 'lucky', 96.5, '40.5', 'Sweety', 'a']
elments in the list=[10, 20, 30, 'kusuma', 'laddu', 'lucky', 96.5, '40.5', 'Sweety', 'a']
data=10
element at index 1=20
element at index 2=30
element at index 9=a
elements from index 3 to 9=['kusuma', 'laddu', 'lucky', 96.5, '40.5', 'Sweety', 'a']
elements from index 4 to 7=['laddu', 'lucky', 96.5]
element at index -5=lucky
element at index -1=a
elements from start to end=[10, 20, 30, 'kusuma', 'laddu', 'lucky', 96.5, '40.5', 'Sweety', 'a']
elements from reverse=['a', 'Sweety', '40.5', 96.5, 'lucky', 'laddu', 'kusuma', 30, 20, 10]
data=['lucky', 'laddu', 'kusuma', 30, 20]

In [ ]:
##DICTIONARY
dict={"Employee name":"Kusuma","Employee ID":"KCP1022","Age":28,"salary":90000}
print(f'empolyee details={dict}')
print(type(dict))

print(f'employee name={dict["Employee name"]}')
print(f'employee id={dict["Employee ID"]}')
print(f'employee age={dict["Age"]}')
print(f'employee salary={dict["salary"]}')

empolyee details={'Employee name': 'Kusuma', 'Employee ID': 'KCP1022', 'Age': 28, 'salary': 90000}
<class 'dict'>
employee name=Kusuma
employee id=KCP1022
employee age=28
employee salary=90000

**DAY-4**

# 15-05-2025  A SMALL DATA BASE OPERATIONS [SUM,LEN,AVG,MIN,MAX]

In [ ]:
#15-05-2025 use case
Walmart={"store":[1,1,1],
         "Date":('05-05-2025','06-05-2025','07-05-2025'),
         "weekly_sales":(1643690.9,1641957.44,1611968),
         "holiday_flag":(0,1,0),
         "temperature":[42.31,38.51,39.93],
         "fuel_price":[2.572,2.548,2.514],
         "CPI":[211.09,211.24,244.28],
         "unempolyment":[8.1,8.1,8.1]
         }

#manager want the total of the weekly_sales
total_weekly_sales=Walmart['weekly_sales'][0]+Walmart['weekly_sales'][1]+Walmart['weekly_sales'][2]
print(f'total_weekly_sales={total_weekly_sales}')

#manager want the average of the weekly sales
average_weekly_sales=total_weekly_sales/3
print(f'average_weekly_sales={average_weekly_sales}')

#manager want to know the minimum weekly sales[min()]
minimum_weekly_sales=min(Walmart['weekly_sales'])
print(f'minimum_weekly_sales={minimum_weekly_sales}')

#manager want to know the maximum weekly sales  [max()]
maximum_weekly_sales=max(Walmart['weekly_sales'])
print(f'maximum_weekly_sales={maximum_weekly_sales}')

#manager want to know average weekly sales {sum(walmart['weekly_sales])/len(walmart['weekly_sales'])}
average_weekly_sales=sum(Walmart['weekly_sales'])/len(Walmart['weekly_sales'])
print(f'average_weekly_sales by sum and len method={average_weekly_sales}')


#manager want the total of the weekly_sales
total_weekly_sales=Walmart['weekly_sales'][0]+Walmart['weekly_sales'][1]+Walmart['weekly_sales'][2]
print(f'total_weekly_sales={total_weekly_sales}')

#manager want the average of the weekly sales
average_weekly_sales=total_weekly_sales/3
print(f'average_weekly_sales={average_weekly_sales}')

#manager want to know the minimum weekly sales[min()]
minimum_weekly_sales=min(Walmart['weekly_sales'])
print(f'minimum_weekly_sales={minimum_weekly_sales}')

#manager want to know the maximum weekly sales  [max()]
maximum_weekly_sales=max(Walmart['weekly_sales'])
print(f'maximum_weekly_sales={maximum_weekly_sales}')

#manager want to know average weekly sales {sum(walmart['weekly_sales])/len(walmart['weekly_sales'])}
average_weekly_sales=sum(Walmart['weekly_sales'])/len(Walmart['weekly_sales'])
print(f'average_weekly_sales by sum and len method={average_weekly_sales}')


#15-05-2025 use case
Walmart={"store":[1,1,1],
         "Date":('05-05-2025','06-05-2025','07-05-2025'),
         "weekly_sales":(1643690.9,1641957.44,1611968),
         "holiday_flag":(0,1,0),
         "temperature":[42.31,38.51,39.93],
         "fuel_price":[2.572,2.548,2.514],
         "CPI":[211.09,211.24,244.28],
         "unempolyment":[8.1,8.1,8.1]
         }

#manager want the total of the weekly_sales
total_weekly_sales=Walmart['weekly_sales'][0]+Walmart['weekly_sales'][1]+Walmart['weekly_sales'][2]
print(f'total_weekly_sales={total_weekly_sales}')

#manager want the average of the weekly sales
average_weekly_sales=total_weekly_sales/3
print(f'average_weekly_sales={average_weekly_sales}')

#manager want to know the minimum weekly sales[min()]
minimum_weekly_sales=min(Walmart['weekly_sales'])
print(f'minimum_weekly_sales={minimum_weekly_sales}')

#manager want to know the maximum weekly sales  [max()]
maximum_weekly_sales=max(Walmart['weekly_sales'])
print(f'maximum_weekly_sales={maximum_weekly_sales}')

#manager want to know average weekly sales {sum(walmart['weekly_sales])/len(walmart['weekly_sales'])}
average_weekly_sales=sum(Walmart['weekly_sales'])/len(Walmart['weekly_sales'])
print(f'average_weekly_sales by sum and len method={average_weekly_sales}')


#manager want the total of the weekly_sales
total_weekly_sales=Walmart['weekly_sales'][0]+Walmart['weekly_sales'][1]+Walmart['weekly_sales'][2]
print(f'total_weekly_sales={total_weekly_sales}')

#manager want the average of the weekly sales
average_weekly_sales=total_weekly_sales/3
print(f'average_weekly_sales={average_weekly_sales}')

#manager want to know the minimum weekly sales[min()]
minimum_weekly_sales=min(Walmart['weekly_sales'])
print(f'minimum_weekly_sales={minimum_weekly_sales}')

#manager want to know the maximum weekly sales  [max()]
maximum_weekly_sales=max(Walmart['weekly_sales'])
print(f'maximum_weekly_sales={maximum_weekly_sales}')

#manager want to know average weekly sales {sum(walmart['weekly_sales])/len(walmart['weekly_sales'])}
average_weekly_sales=sum(Walmart['weekly_sales'])/len(Walmart['weekly_sales'])
print(f'average_weekly_sales by sum and len method={average_weekly_sales}')


#manager want know average weekly sales vs temperature

print(f"average_weekly_sales={sum(Walmart['weekly_sales'])/len(Walmart['weekly_sales'])} vs temperature={sum(Walmart['temperature'])}")

total_weekly_sales=4897616.34
average_weekly_sales=1632538.78
minimum_weekly_sales=1611968
maximum_weekly_sales=1643690.9
average_weekly_sales by sum and len method=1632538.78
total_weekly_sales=4897616.34
average_weekly_sales=1632538.78
minimum_weekly_sales=1611968
maximum_weekly_sales=1643690.9
average_weekly_sales by sum and len method=1632538.78
total_weekly_sales=4897616.34
average_weekly_sales=1632538.78
minimum_weekly_sales=1611968
maximum_weekly_sales=1643690.9
average_weekly_sales by sum and len method=1632538.78
total_weekly_sales=4897616.34
average_weekly_sales=1632538.78
minimum_weekly_sales=1611968
maximum_weekly_sales=1643690.9
average_weekly_sales by sum and len method=1632538.78
average_weekly_sales=1632538.78 vs temperature=120.75

In pandas ,we have "Data Frame"-- is a two dimensional data structure ,mutable,and also allows the heterogeneous data(diiferenet data)
it can also label the data in rows and columns

if we want to use any data frame,we need to import the ds frst

In [ ]:
import pandas as pd

Walmart={"store":[1,1,1],
         "Date":('05-05-2025','06-05-2025','07-05-2025'),
         "weekly_sales":(1643690.9,1641957.44,1611968),
         "holiday_flag":(0,1,0),
         "temperature":[42.31,38.51,39.93],
         "fuel_price":[2.572,2.548,2.514],
         "CPI":[211.09,211.24,244.28],
         "unempolyment":[8.1,8.1,8.1]
         }
df=pd.DataFrame(Walmart)
print(df)

   store        Date  weekly_sales  holiday_flag  temperature  fuel_price  \
0      1  05-05-2025    1643690.90             0        42.31       2.572
1      1  06-05-2025    1641957.44             1        38.51       2.548
2      1  07-05-2025    1611968.00             0        39.93       2.514

      CPI  unempolyment
0  211.09           8.1
1  211.24           8.1
2  244.28           8.1

In [ ]:
#to print weekly_sales
print(df['weekly_sales'])
print("*************************************")
# to print a row at index 0
print(df.loc[0])



#to print weekly_sales
print(df['weekly_sales'])
print("*************************************")
# to print a row at index 0
print(df.loc[0])



print('******************************************************************')

print("**********Basic operations on Data Frame*********")

print(f'Shape={df.shape}')
print(f'Info={df.info()}')
print(f'describe={df.describe()}')
print(f'head={df.head()}')
print(f'tail={df.tail()}')

0    1643690.90
1    1641957.44
2    1611968.00
Name: weekly_sales, dtype: float64
*************************************
store                    1
Date            05-05-2025
weekly_sales     1643690.9
holiday_flag             0
temperature          42.31
fuel_price           2.572
CPI                 211.09
unempolyment           8.1
Name: 0, dtype: object
0    1643690.90
1    1641957.44
2    1611968.00
Name: weekly_sales, dtype: float64
*************************************
store                    1
Date            05-05-2025
weekly_sales     1643690.9
holiday_flag             0
temperature          42.31
fuel_price           2.572
CPI                 211.09
unempolyment           8.1
Name: 0, dtype: object
******************************************************************
**********Basic operations on Data Frame*********
Shape=(3, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   store         3 non-null      int64
 1   Date          3 non-null      object
 2   weekly_sales  3 non-null      float64
 3   holiday_flag  3 non-null      int64
 4   temperature   3 non-null      float64
 5   fuel_price    3 non-null      float64
 6   CPI           3 non-null      float64
 7   unempolyment  3 non-null      float64
dtypes: float64(5), int64(2), object(1)
memory usage: 324.0+ bytes
Info=None
describe=       store  weekly_sales  holiday_flag  temperature  fuel_price         CPI  \
count    3.0  3.000000e+00      3.000000     3.000000    3.000000    3.000000
mean     1.0  1.632539e+06      0.333333    40.250000    2.544667  222.203333
std      0.0  1.783589e+04      0.577350     1.920104    0.029143   19.119101
min      1.0  1.611968e+06      0.000000    38.510000    2.514000  211.090000
25%      1.0  1.626963e+06      0.000000    39.220000    2.531000  211.165000
50%      1.0  1.641957e+06      0.000000    39.930000    2.548000  211.240000
75%      1.0  1.642824e+06      0.500000    41.120000    2.560000  227.760000
max      1.0  1.643691e+06      1.000000    42.310000    2.572000  244.280000

       unempolyment
count           3.0
mean            8.1
std             0.0
min             8.1
25%             8.1
50%             8.1
75%             8.1
max             8.1
head=   store        Date  weekly_sales  holiday_flag  temperature  fuel_price  \
0      1  05-05-2025    1643690.90             0        42.31       2.572
1      1  06-05-2025    1641957.44             1        38.51       2.548
2      1  07-05-2025    1611968.00             0        39.93       2.514

      CPI  unempolyment
0  211.09           8.1
1  211.24           8.1
2  244.28           8.1
tail=   store        Date  weekly_sales  holiday_flag  temperature  fuel_price  \
0      1  05-05-2025    1643690.90             0        42.31       2.572
1      1  06-05-2025    1641957.44             1        38.51       2.548
2      1  07-05-2025    1611968.00             0        39.93       2.514

      CPI  unempolyment
0  211.09           8.1
1  211.24           8.1
2  244.28           8.1

MY EXPO ON 16-05-2025 at 1:09

In [ ]:
#storing the data by using Dictionary

walmart={"store":[1,1,1,1,1,1,1,1,1,1],
         "Date":('05-02-2010','12-02-2010','19-02-2010','26-02-2010','02-04-2010','09-04-2010','16-02-2010','23-04-2010','30-04-2010','07-05-2010'),
         "weekly_sales":[1643690.9,1641957.44,1611968.17,1409727.59,1554806.68,1439541.59,1472515.79,1404429.92,1594968.28,1545419.56],
         "holiday_flag":(0,1,0,0,0,0,0,0,0,0),
         "temperature":[42.31,38.51,39.93,46.63,46.5,57.79,54.58,51.45,62.27,65.86],
         "furl_price":[2.572,2.548,2.514,2.516,2,625,2.667,2.72,2.732,2.719,2.77],
         "CPI":[211.0964,211.2422,211.2891,211.3192,211.3501,211.3806,211.2156,211.018,210.8204,211.6224],
         "unemployment":[8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,7.808,7.808]
         }
print(walmart)

# manager want to know the total weekly_sales
total_weekly_sales=walmart['weekly_sales'][0]+walmart['weekly_sales'][1]+walmart['weekly_sales'][2]+walmart['weekly_sales'][3]+walmart['weekly_sales'][4]+walmart['weekly_sales'][5]+walmart['weekly_sales'][6]+walmart['weekly_sales'][7]+walmart['weekly_sales'][8]+walmart['weekly_sales'][9]
print(f'total weekly_sales={total_weekly_sales}')

#manager want to know the total no of holidays
total_holidays=sum(walmart['holiday_flag'])
print(f' number of holidays={total_holidays}')

#to print the sum of cpi
total_cpi=sum(walmart['CPI'])
print(f'total cpi={total_cpi}')

# manager want to know the average of weekly_sales
average_weekly_sales=total_weekly_sales/10
print(f'average_weekly sales={average_weekly_sales}')

#manager want to know the min and max of the eekly_sales
minimum_weekly_sales=min(walmart['weekly_sales'])
print(f'minimum_weekly_sales={minimum_weekly_sales}')

maximum_weekly_sales=max(walmart['weekly_sales'])
print(f'max weekly_sales={maximum_weekly_sales}')

# sum of weekly_sales
sum_of_weekly_sales=sum(walmart['weekly_sales'])
print(f'sum of the weekly_sales={sum_of_weekly_sales}')

# average of weekly_sales by using avg=sum(walmart[''])/len(walmart[''])
average_of_weekly_sales=sum(walmart['weekly_sales'])/len(walmart['weekly_sales'])
print(f'average_of_weekly_sales={average_of_weekly_sales}')

#storing the data by using Dictionary

walmart={"store":[1,1,1,1,1,1,1,1,1,1],
         "Date":('05-02-2010','12-02-2010','19-02-2010','26-02-2010','02-04-2010','09-04-2010','16-02-2010','23-04-2010','30-04-2010','07-05-2010'),
         "weekly_sales":[1643690.9,1641957.44,1611968.17,1409727.59,1554806.68,1439541.59,1472515.79,1404429.92,1594968.28,1545419.56],
         "holiday_flag":(0,1,0,0,0,0,0,0,0,0),
         "temperature":[42.31,38.51,39.93,46.63,46.5,57.79,54.58,51.45,62.27,65.86],
         "furl_price":[2.572,2.548,2.514,2.516,2.625,2.667,2.72,2.732,2.719,2.77],
         "CPI":[211.0964,211.2422,211.2891,211.3192,211.3501,211.3806,211.2156,211.018,210.8204,211.6224],
         "unemployment":[8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,7.808,7.808]
         }
print(walmart)

# manager want to know the total weekly_sales
total_weekly_sales=walmart['weekly_sales'][0]+walmart['weekly_sales'][1]+walmart['weekly_sales'][2]+walmart['weekly_sales'][3]+walmart['weekly_sales'][4]+walmart['weekly_sales'][5]+walmart['weekly_sales'][6]+walmart['weekly_sales'][7]+walmart['weekly_sales'][8]+walmart['weekly_sales'][9]
print(f'total weekly_sales={total_weekly_sales}')

#manager want to know the total no of holidays
total_holidays=sum(walmart['holiday_flag'])
print(f' number of holidays={total_holidays}')

#to print the sum of cpi
total_cpi=sum(walmart['CPI'])
print(f'total cpi={total_cpi}')

# manager want to know the average of weekly_sales
average_weekly_sales=total_weekly_sales/10
print(f'average_weekly sales={average_weekly_sales}')

#manager want to know the min and max of the eekly_sales
minimum_weekly_sales=min(walmart['weekly_sales'])
print(f'minimum_weekly_sales={minimum_weekly_sales}')

maximum_weekly_sales=max(walmart['weekly_sales'])
print(f'max weekly_sales={maximum_weekly_sales}')

# sum of weekly_sales
sum_of_weekly_sales=sum(walmart['weekly_sales'])
print(f'sum of the weekly_sales={sum_of_weekly_sales}')

# average of weekly_sales by using avg=sum(walmart[''])/len(walmart[''])
average_of_weekly_sales=sum(walmart['weekly_sales'])/len(walmart['weekly_sales'])
print(f'average_of_weekly_sales={average_of_weekly_sales}')


# manager want to know the average of wweekly_sales  vs  holiday flags
print(f'average_weekly_sales={sum(walmart["weekly_sales"])/len(walmart["weekly_sales"])} vs holiday_flag={sum(walmart["holiday_flag"])/len(walmart["holiday_flag"])}')

print('*************************************************************')

{'store': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'Date': ('05-02-2010', '12-02-2010', '19-02-2010', '26-02-2010', '02-04-2010', '09-04-2010', '16-02-2010', '23-04-2010', '30-04-2010', '07-05-2010'), 'weekly_sales': [1643690.9, 1641957.44, 1611968.17, 1409727.59, 1554806.68, 1439541.59, 1472515.79, 1404429.92, 1594968.28, 1545419.56], 'holiday_flag': (0, 1, 0, 0, 0, 0, 0, 0, 0, 0), 'temperature': [42.31, 38.51, 39.93, 46.63, 46.5, 57.79, 54.58, 51.45, 62.27, 65.86], 'furl_price': [2.572, 2.548, 2.514, 2.516, 2, 625, 2.667, 2.72, 2.732, 2.719, 2.77], 'CPI': [211.0964, 211.2422, 211.2891, 211.3192, 211.3501, 211.3806, 211.2156, 211.018, 210.8204, 211.6224], 'unemployment': [8.106, 8.106, 8.106, 8.106, 8.106, 8.106, 8.106, 8.106, 7.808, 7.808]}
total weekly_sales=15319025.92
 number of holidays=1
total cpi=2112.3540000000003
average_weekly sales=1531902.592
minimum_weekly_sales=1404429.92
max weekly_sales=1643690.9
sum of the weekly_sales=15319025.92
average_of_weekly_sales=1531902.592
{'store': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'Date': ('05-02-2010', '12-02-2010', '19-02-2010', '26-02-2010', '02-04-2010', '09-04-2010', '16-02-2010', '23-04-2010', '30-04-2010', '07-05-2010'), 'weekly_sales': [1643690.9, 1641957.44, 1611968.17, 1409727.59, 1554806.68, 1439541.59, 1472515.79, 1404429.92, 1594968.28, 1545419.56], 'holiday_flag': (0, 1, 0, 0, 0, 0, 0, 0, 0, 0), 'temperature': [42.31, 38.51, 39.93, 46.63, 46.5, 57.79, 54.58, 51.45, 62.27, 65.86], 'furl_price': [2.572, 2.548, 2.514, 2.516, 2.625, 2.667, 2.72, 2.732, 2.719, 2.77], 'CPI': [211.0964, 211.2422, 211.2891, 211.3192, 211.3501, 211.3806, 211.2156, 211.018, 210.8204, 211.6224], 'unemployment': [8.106, 8.106, 8.106, 8.106, 8.106, 8.106, 8.106, 8.106, 7.808, 7.808]}
total weekly_sales=15319025.92
 number of holidays=1
total cpi=2112.3540000000003
average_weekly sales=1531902.592
minimum_weekly_sales=1404429.92
max weekly_sales=1643690.9
sum of the weekly_sales=15319025.92
average_of_weekly_sales=1531902.592
average_weekly_sales=1531902.592 vs holiday_flag=0.1
*************************************************************

In [ ]:
import pandas as pd
walmart={"store":[1,1,1,1,1,1,1,1,1,1],
         "Date":('05-02-2010','12-02-2010','19-02-2010','26-02-2010','02-04-2010','09-04-2010','16-02-2010','23-04-2010','30-04-2010','07-05-2010'),
         "weekly_sales":[1643690.9,1641957.44,1611968.17,1409727.59,1554806.68,1439541.59,1472515.79,1404429.92,1594968.28,1545419.56],
         "holiday_flag":(0,1,0,0,0,0,0,0,0,0),
         "temperature":[42.31,38.51,39.93,46.63,46.5,57.79,54.58,51.45,62.27,65.86],
         "furl_price":[2.572,2.548,2.514,2.516,2.625,2.667,2.72,2.732,2.719,2.77],
         "CPI":[211.0964,211.2422,211.2891,211.3192,211.3501,211.3806,211.2156,211.018,210.8204,211.6224],
         "unemployment":[8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,7.808,7.808]
         }
df=pd.DataFrame(walmart)
print(df)
# to print  weekly_sales
print(df['weekly_sales'])

# to print  a row at index 0
print(df.loc[0])
print('**********************')
print(df.loc[1])
print('**************************************')
print(df.loc[9])
print('@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@')
print(f'print the rows from 0 to 4')
print(df.loc[0:5])

print('.........................................................')
print(f'print the rows from 0 to 4')
print(df.loc[5:9])


# some basic operations on data Frame
print(f'shape={df.shape}')
print(f'info={df.info()}')
print(f'describe={df.describe()}')
print(f'head={df.head()}')
print(f'tail={df.tail()}')


print('0000000000000000000000000000000000000000000000000000000000000000000000')
#print(f'shape={df.shape}')
print(f'info={df.info()}')
#print(f'describe={df.describe(5)}')
print(f'head={df.head(8)}')
print(f'tail={df.tail(6)}')

   store        Date  weekly_sales  holiday_flag  temperature  furl_price  \
0      1  05-02-2010    1643690.90             0        42.31       2.572
1      1  12-02-2010    1641957.44             1        38.51       2.548
2      1  19-02-2010    1611968.17             0        39.93       2.514
3      1  26-02-2010    1409727.59             0        46.63       2.516
4      1  02-04-2010    1554806.68             0        46.50       2.625
5      1  09-04-2010    1439541.59             0        57.79       2.667
6      1  16-02-2010    1472515.79             0        54.58       2.720
7      1  23-04-2010    1404429.92             0        51.45       2.732
8      1  30-04-2010    1594968.28             0        62.27       2.719
9      1  07-05-2010    1545419.56             0        65.86       2.770

        CPI  unemployment
0  211.0964         8.106
1  211.2422         8.106
2  211.2891         8.106
3  211.3192         8.106
4  211.3501         8.106
5  211.3806         8.106
6  211.2156         8.106
7  211.0180         8.106
8  210.8204         7.808
9  211.6224         7.808
0    1643690.90
1    1641957.44
2    1611968.17
3    1409727.59
4    1554806.68
5    1439541.59
6    1472515.79
7    1404429.92
8    1594968.28
9    1545419.56
Name: weekly_sales, dtype: float64
store                    1
Date            05-02-2010
weekly_sales     1643690.9
holiday_flag             0
temperature          42.31
furl_price           2.572
CPI               211.0964
unemployment         8.106
Name: 0, dtype: object
**********************
store                    1
Date            12-02-2010
weekly_sales    1641957.44
holiday_flag             1
temperature          38.51
furl_price           2.548
CPI               211.2422
unemployment         8.106
Name: 1, dtype: object
**************************************
store                    1
Date            07-05-2010
weekly_sales    1545419.56
holiday_flag             0
temperature          65.86
furl_price            2.77
CPI               211.6224
unemployment         7.808
Name: 9, dtype: object
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
print the rows from 0 to 4
   store        Date  weekly_sales  holiday_flag  temperature  furl_price  \
0      1  05-02-2010    1643690.90             0        42.31       2.572
1      1  12-02-2010    1641957.44             1        38.51       2.548
2      1  19-02-2010    1611968.17             0        39.93       2.514
3      1  26-02-2010    1409727.59             0        46.63       2.516
4      1  02-04-2010    1554806.68             0        46.50       2.625
5      1  09-04-2010    1439541.59             0        57.79       2.667

        CPI  unemployment
0  211.0964         8.106
1  211.2422         8.106
2  211.2891         8.106
3  211.3192         8.106
4  211.3501         8.106
5  211.3806         8.106
.........................................................
print the rows from 0 to 4
   store        Date  weekly_sales  holiday_flag  temperature  furl_price  \
5      1  09-04-2010    1439541.59             0        57.79       2.667
6      1  16-02-2010    1472515.79             0        54.58       2.720
7      1  23-04-2010    1404429.92             0        51.45       2.732
8      1  30-04-2010    1594968.28             0        62.27       2.719
9      1  07-05-2010    1545419.56             0        65.86       2.770

        CPI  unemployment
5  211.3806         8.106
6  211.2156         8.106
7  211.0180         8.106
8  210.8204         7.808
9  211.6224         7.808
shape=(10, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   store         10 non-null     int64
 1   Date          10 non-null     object
 2   weekly_sales  10 non-null     float64
 3   holiday_flag  10 non-null     int64
 4   temperature   10 non-null     float64
 5   furl_price    10 non-null     float64
 6   CPI           10 non-null     float64
 7   unemployment  10 non-null     float64
dtypes: float64(5), int64(2), object(1)
memory usage: 772.0+ bytes
info=None
describe=       store  weekly_sales  holiday_flag  temperature  furl_price         CPI  \
count   10.0  1.000000e+01     10.000000    10.000000   10.000000   10.000000
mean     1.0  1.531903e+06      0.100000    50.583000    2.638300  211.235400
std      0.0  9.365251e+04      0.316228     9.419982    0.096189    0.219383
min      1.0  1.404430e+06      0.000000    38.510000    2.514000  210.820400
25%      1.0  1.447785e+06      0.000000    43.357500    2.554000  211.126200
50%      1.0  1.550113e+06      0.000000    49.040000    2.646000  211.265650
75%      1.0  1.607718e+06      0.000000    56.987500    2.719750  211.342375
max      1.0  1.643691e+06      1.000000    65.860000    2.770000  211.622400

       unemployment
count     10.000000
mean       8.046400
std        0.125648
min        7.808000
25%        8.106000
50%        8.106000
75%        8.106000
max        8.106000
head=   store        Date  weekly_sales  holiday_flag  temperature  furl_price  \
0      1  05-02-2010    1643690.90             0        42.31       2.572
1      1  12-02-2010    1641957.44             1        38.51       2.548
2      1  19-02-2010    1611968.17             0        39.93       2.514
3      1  26-02-2010    1409727.59             0        46.63       2.516
4      1  02-04-2010    1554806.68             0        46.50       2.625

        CPI  unemployment
0  211.0964         8.106
1  211.2422         8.106
2  211.2891         8.106
3  211.3192         8.106
4  211.3501         8.106
tail=   store        Date  weekly_sales  holiday_flag  temperature  furl_price  \
5      1  09-04-2010    1439541.59             0        57.79       2.667
6      1  16-02-2010    1472515.79             0        54.58       2.720
7      1  23-04-2010    1404429.92             0        51.45       2.732
8      1  30-04-2010    1594968.28             0        62.27       2.719
9      1  07-05-2010    1545419.56             0        65.86       2.770

        CPI  unemployment
5  211.3806         8.106
6  211.2156         8.106
7  211.0180         8.106
8  210.8204         7.808
9  211.6224         7.808
0000000000000000000000000000000000000000000000000000000000000000000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   store         10 non-null     int64
 1   Date          10 non-null     object
 2   weekly_sales  10 non-null     float64
 3   holiday_flag  10 non-null     int64
 4   temperature   10 non-null     float64
 5   furl_price    10 non-null     float64
 6   CPI           10 non-null     float64
 7   unemployment  10 non-null     float64
dtypes: float64(5), int64(2), object(1)
memory usage: 772.0+ bytes
info=None
head=   store        Date  weekly_sales  holiday_flag  temperature  furl_price  \
0      1  05-02-2010    1643690.90             0        42.31       2.572
1      1  12-02-2010    1641957.44             1        38.51       2.548
2      1  19-02-2010    1611968.17             0        39.93       2.514
3      1  26-02-2010    1409727.59             0        46.63       2.516
4      1  02-04-2010    1554806.68             0        46.50       2.625
5      1  09-04-2010    1439541.59             0        57.79       2.667
6      1  16-02-2010    1472515.79             0        54.58       2.720
7      1  23-04-2010    1404429.92             0        51.45       2.732

        CPI  unemployment
0  211.0964         8.106
1  211.2422         8.106
2  211.2891         8.106
3  211.3192         8.106
4  211.3501         8.106
5  211.3806         8.106
6  211.2156         8.106
7  211.0180         8.106
tail=   store        Date  weekly_sales  holiday_flag  temperature  furl_price  \
4      1  02-04-2010    1554806.68             0        46.50       2.625
5      1  09-04-2010    1439541.59             0        57.79       2.667
6      1  16-02-2010    1472515.79             0        54.58       2.720
7      1  23-04-2010    1404429.92             0        51.45       2.732
8      1  30-04-2010    1594968.28             0        62.27       2.719
9      1  07-05-2010    1545419.56             0        65.86       2.770

        CPI  unemployment
4  211.3501         8.106
5  211.3806         8.106
6  211.2156         8.106
7  211.0180         8.106
8  210.8204         7.808
9  211.6224         7.808

**DAY-5**

Data types in python on 16-05-2025 at IST ASNRise

set data -in sets only numbers can be written and denoted by '{}'.in dictionary we can write key value pairs..

In [ ]:
#SETS DATA TYPE
set={1,2,3,4,5,6,7,8}
#SETS DATA TYPE
set={1,2,3,4,5,6,7,8}
print(set)
print(type(set))
st={1,2,2,3,3,4,5,5,6,7,8,9,0}
print(st)

{1, 2, 3, 4, 5, 6, 7, 8}
<class 'set'>
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
#BOOLEAN
is_raining=False
print("Is it raining?",is_raining)
print(type(is_raining))
print(is_raining)

Is it raining? False
<class 'bool'>
False

In [ ]:
#BINARY TYPES (BYTES)
binary_data=b'Hello'
print('Binary data:',binary_data)

####
mutable_binary_data=bytearray(b'Hello')
print("mutable_binary_data :",mutable_binary_data)
## MEMORY VIEW METHOD
data = memoryview(b'Hello')
print("Memory View:" , data)

Binary data: b'Hello'
mutable_binary_data : bytearray(b'Hello')
Memory View: <memory at 0x7ac1ed18a740>

In [ ]:
#want to read some data from
import pandas as pd
df=

**CSV=COMMON SEPARTED VALUES**(XCEL)

In [ ]:
#loading from the computer
import pandas as pd
df=pd.read_csv('/content/archive (1).zip')
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [ ]:
#Stock historical data
import yfinance as yf

df=yf.download('AMZN',start='2025-01-01',end='2025-05-15')

df.shape
df.info()
df.head()
df.tail()

[*********************100%***********************]  1 of 1 completed

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 91 entries, 2025-01-02 to 2025-05-14
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (Close, AMZN)   91 non-null     float64
 1   (High, AMZN)    91 non-null     float64
 2   (Low, AMZN)     91 non-null     float64
 3   (Open, AMZN)    91 non-null     float64
 4   (Volume, AMZN)  91 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.3 KB

Price            Close        High         Low        Open    Volume
Ticker            AMZN        AMZN        AMZN        AMZN      AMZN
Date
2025-05-08  192.080002  194.330002  188.820007  191.429993  41043600
2025-05-09  193.059998  194.690002  191.160004  193.380005  29663100
2025-05-12  208.639999  211.660004  205.750000  210.710007  75205000
2025-05-13  211.369995  214.839996  210.100006  211.080002  56193700
2025-05-14  210.250000  211.929993  208.850006  211.449997  38492100

In [ ]:
import yfinance as yf

df=yf.download('INFY',start='2025-01-01',end='2025-05-15')
#df.shape
df.info()
print(df.head(6))
#print(f'Date={Date}')
#max_value=df['High']
#print(max_value)
#print(df.loc(4))
#print(f'Date={df.loc(4)}')

[*********************100%***********************]  1 of 1 completed

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 91 entries, 2025-01-02 to 2025-05-14
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (Close, INFY)   91 non-null     float64
 1   (High, INFY)    91 non-null     float64
 2   (Low, INFY)     91 non-null     float64
 3   (Open, INFY)    91 non-null     float64
 4   (Volume, INFY)  91 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.3 KB
Price           Close       High        Low   Open   Volume
Ticker           INFY       INFY       INFY   INFY     INFY
Date
2025-01-02  22.620001  22.820000  22.490000  22.75  6556200
2025-01-03  22.629999  22.660000  22.450001  22.52  3810700
2025-01-06  22.750000  22.809999  22.580000  22.58  4862600
2025-01-07  22.610001  22.879999  22.530001  22.67  5150400
2025-01-08  22.780001  22.809999  22.549999  22.59  6199700
2025-01-10  22.700001  23.190001  22.700001  22.85  7409000

null valyes
adding new rows
cloumns
rename the columns
high value with date

**MY EXPO ON PANDAS , DF AND OPERATIONS ON 17-05-2025**

In [ ]:
#import pandas as pd
import yfinance as yf

df=yf.download('TCSA3.SA',start='2025-01-01',end='2025-05-16')
df.shape
df.info()
df.head()

[*********************100%***********************]  1 of 1 completed

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 91 entries, 2025-01-02 to 2025-05-15
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   (Close, TCSA3.SA)   91 non-null     float64
 1   (High, TCSA3.SA)    91 non-null     float64
 2   (Low, TCSA3.SA)     91 non-null     float64
 3   (Open, TCSA3.SA)    91 non-null     float64
 4   (Volume, TCSA3.SA)  91 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.3 KB

Price         Close     High      Low     Open   Volume
Ticker     TCSA3.SA TCSA3.SA TCSA3.SA TCSA3.SA TCSA3.SA
Date
2025-01-02     1.26     1.35     1.25     1.33    77200
2025-01-03     1.26     1.31     1.26     1.26    38800
2025-01-06     1.37     1.38     1.26     1.26   180600
2025-01-07     1.40     1.40     1.36     1.40    35900
2025-01-08     1.40     1.40     1.34     1.40    34000

**DAY-6**

**CLS ON 17-05-2025 **

PYTHON CODE CONCEPTS APPLOIED TO INDUSTRY USE CASE

cerating and managing orders
USE CASE: add new items when a customer updates their oreder

In [ ]:
Orders=["Laptop","Smartphone","Headphone","Mouse"]
print(f'Orders before Update:{Orders}')
Orders.append("keyboard")
print(f'Orders after Update:{Orders}')

Orders before Update:['Laptop', 'Smartphone', 'Headphone', 'Mouse']
Orders after Update:['Laptop', 'Smartphone', 'Headphone', 'Mouse', 'keyboard']

2.Insertoing and removing items
USE CASE: A product is discontinued or canceled froma n order

In [ ]:
Orders.remove("Mouse")
print('Orders after rempval/Cancel',Orders)

NameError: name 'Orders' is not defined

In [ ]:

Orders.sort()
print("Sorted Orders:",Orders)

NameError: name 'Orders' is not defined

4

In [ ]:
print("First Order:",Orders[0])

First Order: Laptop

In [ ]:
if "Laptop" in Orders:
  print("Laptop is in the Order list")
else:
  print("No serach is found")

Laptop is in the Order list

In [ ]:
if "Mouse" in Orders:
  print("Mouse is in the Order list")
else:
  print("No serach is found")

Mouse is in the Order list

In [ ]:

if "Mobile" in Orders:
  print("Mobile is in orders")
else:
  print('No search found')

No search found

In [ ]:
#product list from e-commerce platform
products=["Laptop","Smartphone","Tablet","Monitor","Keyboard","Mouse"]

#show to 3 trending products
top_trending=products[0:3]
print("Top 3 Trending Products:",top_trending)

#get products launched after a certain month(e.g, skuip first 2 products)
recent_launches = products[2:]
print("Products launched recently:",recent_launches)

#display featured products on homepage(e.g., first 4 products)
featured_products = products[:4]
print("Featured Products on Homepage:",featured_products)

#analyse recently added products (last 3 items)
recently_added = products[-3:]
print("Recently Added Products:",recently_added)

#cerate a promo excluding the last item(e.g.,item out of stocks)
promo_list = products[:-1]
print("Promo List (Excluding Out of Stocks):",promo_list)

#sample data for A/b testing (every 2nd product)
ab_test_sample = products[::2]
print("A/B Testing Sample:", ab_test_sample)

#Show most recent products in reverse chronological order
reverse_products = products[::-1]
print("reverse Chronological products:", reverse_products)

**MY EXPO ON 19-05-2025**

In [ ]:
#products
orders = ["laptops","Bluetooth","Earpods","Mobiles","CP Plus","Smart TV","Remote"]
print("Orders:",orders)


#append
orders.append("zebronics")
print("Oders after adding:",orders)

#remove
orders.remove("Earpods")
print("Orders after removing:",orders)

#sort
orders.sort()
print("Orders after sorting:",orders)

#oders at 3
print(f"Our first order:{orders[3]}")
#products
orders = ["laptops","Bluetooth","Earpods","Mobiles","CP Plus","Smart TV","Remote"]
print("Orders:",orders)


#append
orders.append("zebronics")
print("Oders after adding:",orders)

#remove
orders.remove("Earpods")
print("Orders after removing:",orders)

#sort
orders.sort()
print("Orders after sorting:",orders)

#oders at 3
print(f"Our first order:{orders[3]}")

#if statement
if "ac" not in orders:
  print("True")
else:
    print("False")


#bluetooth
if "Bluetooth" in orders:
  print("True")
else:
  print("False")

  #

Orders: ['laptops', 'Bluetooth', 'Earpods', 'Mobiles', 'CP Plus', 'Smart TV', 'Remote']
Oders after adding: ['laptops', 'Bluetooth', 'Earpods', 'Mobiles', 'CP Plus', 'Smart TV', 'Remote', 'zebronics']
Orders after removing: ['laptops', 'Bluetooth', 'Mobiles', 'CP Plus', 'Smart TV', 'Remote', 'zebronics']
Orders after sorting: ['Bluetooth', 'CP Plus', 'Mobiles', 'Remote', 'Smart TV', 'laptops', 'zebronics']
Our first order:Remote
Orders: ['laptops', 'Bluetooth', 'Earpods', 'Mobiles', 'CP Plus', 'Smart TV', 'Remote']
Oders after adding: ['laptops', 'Bluetooth', 'Earpods', 'Mobiles', 'CP Plus', 'Smart TV', 'Remote', 'zebronics']
Orders after removing: ['laptops', 'Bluetooth', 'Mobiles', 'CP Plus', 'Smart TV', 'Remote', 'zebronics']
Orders after sorting: ['Bluetooth', 'CP Plus', 'Mobiles', 'Remote', 'Smart TV', 'laptops', 'zebronics']
Our first order:Remote
True
True

In [ ]:
#product list from e-commerce platform
products=["laptops","Bluetooth","Earpods","Mobiles","CP Plus","Smart TV","Remote"]

#show to 3 trending products
top_trending=products[0:3]
print("Top 3 Trending Products:",top_trending)

#get products launched after a certain month(e.g, skip first 2 products)
recent_launches = products[2:]
print("Products launched recently:",recent_launches)

#display featured products on homepage(e.g., first 4 products)
featured_products = products[:4]
print("Featured Products on Homepage:",featured_products)

#analyse recently added products (last 3 items)
recently_added = products[-3:]
print("Recently Added Products:",recently_added)

#cerate a promo excluding the last item(e.g.,item out of stocks)
promo_list = products[:-1]
print("Promo List (Excluding Out of Stocks):",promo_list)

#sample data for A/b testing (every 2nd product)
ab_test_sample = products[::2]
print("A/B Testing Sample:", ab_test_sample)

#Show most recent products in reverse chronological order
reverse_products = products[::-1]
print("reverse Chronological products:", reverse_products)

Top 3 Trending Products: ['laptops', 'Bluetooth', 'Earpods']
Products launched recently: ['Earpods', 'Mobiles', 'CP Plus', 'Smart TV', 'Remote']
Featured Products on Homepage: ['laptops', 'Bluetooth', 'Earpods', 'Mobiles']
Recently Added Products: ['CP Plus', 'Smart TV', 'Remote']
Promo List (Excluding Out of Stocks): ['laptops', 'Bluetooth', 'Earpods', 'Mobiles', 'CP Plus', 'Smart TV']
A/B Testing Sample: ['laptops', 'Earpods', 'CP Plus', 'Remote']
reverse Chronological products: ['Remote', 'Smart TV', 'CP Plus', 'Mobiles', 'Earpods', 'Bluetooth', 'laptops']

In [ ]:
#A/B Testing
#products[::2]
#List of products
products = ["Laptop", "Smartphone", "Tablet", "Monitor", "Keyboard", "Mouse"]

# Simulated user ratings for two different versions of the product page
# Design A ratings (Group A sees new layout)
ratings_a = [4.5, 4.0, 4.3, 3.9, 4.2, 4.1]

# Design B ratings (Group B sees old layout)
ratings_b = [4.2, 3.8, 4.0, 3.5, 4.0, 3.9]

In [ ]:
#Step-1 A/B Testing splitting

# Group A: Every 2nd product starting from index 0
group_a_products = products[::2]
group_a_ratings = ratings_a[::2]
print("Group A Products:", group_a_products)
print("Group A Ratings:", group_a_ratings)

# Group B: Every 2nd product starting from index 1
group_b_products = products[1::2]
group_b_ratings = ratings_b[1::2]
print("Group B Products:", group_b_products)
print("Group B Ratings:", group_b_ratings)

Group A Products: ['Laptop', 'Tablet', 'Keyboard']
Group A Ratings: [4.5, 4.3, 4.2]
Group B Products: ['Smartphone', 'Monitor', 'Mouse']
Group B Ratings: [3.8, 3.5, 3.9]

In [ ]:
#Step-2 Calculate average rating

# Calculate averages
avg_rating_a = sum(group_a_ratings) / len(group_a_ratings)
avg_rating_b = sum(group_b_ratings) / len(group_b_ratings)

print("\nAverage Rating - Group A (New Design):", round(avg_rating_a, 2))
print("Average Rating - Group B (Old Design):", round(avg_rating_b, 2))

Average Rating - Group A (New Design): 4.33
Average Rating - Group B (Old Design): 3.73

In [ ]:
#interpret result

if avg_rating_a > avg_rating_b:
    print(" New design performs better. Consider rolling it out!")
elif avg_rating_a < avg_rating_b:
    print(" Old design performs better. Investigate why the new one didn't work.")
else:
    print(" Both designs perform equally. Consider other metrics like time-on-page or click-through.")

 New design performs better. Consider rolling it out!

**DAY-7**

In [ ]:
from math import dist

# Tuple format: (Blood Pressure, Heart Rate, Temperature)
known_patient_1 = (120, 80, 98.6)
known_patient_2 = (130, 85, 99.1)
new_patient      = (125, 82, 98.8)

# Compare new patient with known ones
distance1 = dist(new_patient, known_patient_1)
distance2 = dist(new_patient, known_patient_2)

# Decide closest match
if distance1 < distance2:
    print("New Patient is more similar to Known Patient 1")
else:
    print("New Patient is more similar to Known Patient 2")

New Patient is more similar to Known Patient 1

**VARIOUS BASIC TUPLE Operations**

In [ ]:
# Creating a tuple
my_tuple = (10, 20, 30, 40, 50)
print("Original Tuple:", my_tuple)

# Indexing
print("Element at index 0:", my_tuple[0])
print("Element at index -1 (last):", my_tuple[-1])

# Slicing
print("Sliced Tuple [1:4]:", my_tuple[1:4])

# Concatenation
tuple2 = (60, 70)
combined_tuple = my_tuple + tuple2
print("Concatenated Tuple:", combined_tuple)

# Repetition
repeated_tuple = my_tuple * 2
print("Repeated Tuple:", repeated_tuple)

# Membership Test
print("Is 30 in my_tuple?", 30 in my_tuple)
print("Is 100 in my_tuple?", 100 in my_tuple)

# Iterating through a tuple
print("Iterating through my_tuple:")
for item in my_tuple:
    print(item)

# Built-in functions
print("Length of tuple:", len(my_tuple))
print("Maximum element:", max(my_tuple))
print("Minimum element:", min(my_tuple))
print("Sum of elements:", sum(my_tuple))

Original Tuple: (10, 20, 30, 40, 50)
Element at index 0: 10
Element at index -1 (last): 50
Sliced Tuple [1:4]: (20, 30, 40)
Concatenated Tuple: (10, 20, 30, 40, 50, 60, 70)
Repeated Tuple: (10, 20, 30, 40, 50, 10, 20, 30, 40, 50)
Is 30 in my_tuple? True
Is 100 in my_tuple? False
Iterating through my_tuple:
10
20
30
40
50
Length of tuple: 5
Maximum element: 50
Minimum element: 10
Sum of elements: 150

In [ ]:
# Each ride is represented as a tuple:
# Format: (rider_id, driver_id, start_location, end_location, fare)

ride1 = ('R123', 'D456', 'Banjara Hills', 'Gachibowli', 240.50)
ride2 = ('R124', 'D457', 'Madhapur', 'Kukatpally', 180.75)
ride3 = ('R125', 'D456', 'Ameerpet', 'HiTech City', 310.00)


# Store all rides in a list of tuples
all_rides = [ride1, ride2, ride3]

# 1. Print details of each ride
for ride in all_rides:
    print("Rider", ride[0], "took a ride from", ride[2], "to", ride[3], "and paid ", ride[4])

# 2. Calculate total earnings of driver D456
total_earnings = 0
for ride in all_rides:
    if ride[1] == 'D456':
        total_earnings = total_earnings+ride[4]

print("\nTotal earnings of driver D456: ", total_earnings)

Rider R123 took a ride from Banjara Hills to Gachibowli and paid  240.5
Rider R124 took a ride from Madhapur to Kukatpally and paid  180.75
Rider R125 took a ride from Ameerpet to HiTech City and paid  310.0

Total earnings of driver D456:  550.5

# Attempting to modify a tuple (will cause an error) and
#**Unpacking a tuple**

In [ ]:
# Defining a tuple for a product
product = ("Laptop", 1200, "Electronics")

# Accessing tuple elements
print("Product Name:", product[0])
print("Price:", product[1])
print("Category:", product[2])

# Attempting to modify a tuple (will cause an error)
try:
    product[1] = 1300  # Tuples are immutable
except TypeError as e:
    print("Error:", e)

# Unpacking a tuple
name, price, category = product
print(name,price,category)

Product Name: Laptop
Price: 1200
Category: Electronics
Error: 'tuple' object does not support item assignment
Laptop 1200 Electronics

# A Case study on 20-05-2025

the city weather tarcker
store and retrive the weather information
dict-city temp,humitdity-trends
indian waether updates
hyd pune mumbi,bengaluru,chennai,hdelhi-10 cities of country
find
tuple
dict

In [ ]:
#case study on weather
weather={"City":['Hyderabad ','Pune','Delhi','Mumbai','Bengaluru','Chennai'],
         "Temperature":[32,23,40,32,24,29],
         "Humidity":[52,100,43,75,83,66]
         }
#print(weather)



import pandas as pd
df=pd.DataFrame(weather)
print(df)

max_humidity=max(weather['Humidity'])
print(f"Maximum Humidity {max_humidity}% at {weather['City'][weather['Humidity'].index(max_humidity)]}")

min_humidity=min(weather['Humidity'])
print(f"Minimum Humidity {min_humidity}% at {weather['City'][weather['Humidity'].index(min_humidity)]}")

max_temp=max(weather['Temperature'])
print(f"Maximum Temperature {max_temp}C at {weather['City'][weather['Temperature'].index(max_temp)]}")

min_temp=min(weather['Temperature'])
print(f"Minimum Temperature {min_temp}C at {weather['City'][weather['Temperature'].index(min_temp)]}")
#display temperature trends
print("Temperature Trends:")
for i in range(len(weather["City"])):
  print(f'{weather["City"][i]:<15}{weather["Temperature"][i]:>15}')

         City  Temperature  Humidity
0  Hyderabad            32        52
1        Pune           23       100
2       Delhi           40        43
3      Mumbai           32        75
4   Bengaluru           24        83
5     Chennai           29        66
Maximum Humidity 100% at Pune
Minimum Humidity 43% at Delhi
Maximum Temperature 40C at Delhi
Minimum Temperature 23C at Pune
Temperature Trends:
Hyderabad                   32
Pune                        23
Delhi                       40
Mumbai                      32
Bengaluru                   24
Chennai                     29

DAY-9 ON CONTROL STRUCTURES on 22-05-2025

In [2]:
#contorl structure in python  # control the flow of execution
#Branching
#if statement

age=20
if age>=18:
  print("You are eligible to vote")
print("I am after if")

You are eligible to vote
I am after if

In [5]:
#if-else
age=20
if age>=18:
  print("You are eligible to vote")
else:
  print("You are not eligible to vote")
print("Thank you")

You are eligible to vote
Thank you

In [6]:
# if elif
marks=60

if marks>=90:
  print("You got A grade")
elif marks>=80:
  print("You got B grade")
elif marks>=70:
  print("You got C grade")
elif marks>=60:
  print("You got D grade")
else:
  print("You are failed")

You got D grade

In [7]:
#nested if
# if within if

a=10
b=20
c=30

if a>b:
  if a>c:
    print("a is greater")
  elif b>c:
    print("b is greater")
  else:
    print("c is greater")
else:
  if b>c:
    print("b is greater")
  else:
    print("c is greater")

c is greater

In [17]:
#looping
#while loop
i=12
while i<=10:
  print(f'i={i}') #print(i)
  i=i+1
else:
  print(f'i={i} value is greater than 10')
  print("Please check the condition")

print("*** " *10)
#while loop
i=1
while i<=10:
  print(f'i={i}') #print(i)
  i=i+1
else:
  print(f'i={i}\nloop is terminated')

i=12 value is greater than 10
Please check the condition
*** *** *** *** *** *** *** *** *** ***
i=1
i=2
i=3
i=4
i=5
i=6
i=7
i=8
i=9
i=10
i=11
loop is terminated

In [30]:
#for loop
for i in range(1,11):
  print(f'i={i}')

print("-" *30)
print(" "*20)

# another way to represent
for i in [1,2,3,4,5,6,7,8,9,10]:
  print(f'i={i}')
print("-"*30)

i=1
i=2
i=3
i=4
i=5
i=6
i=7
i=8
i=9
i=10
------------------------------

i=1
i=2
i=3
i=4
i=5
i=6
i=7
i=8
i=9
i=10
------------------------------

In [31]:
#jumping statements
#loop with continue stmt
for i in range(1,11):
  if(i==5):
    continue
  print(f'i={i}')
print("-"*30)
#loop with break stmt
for i in range(1,11):
  if(i==5):
    break
  print(f'i={i}')
print("-"*30)
#loop with pass stmt
for i in range(1,11):
  if(i==5):
    pass #we want to implement it later #to do work
  print(f'i={i}')
print("-"*30)

i=1
i=2
i=3
i=4
i=6
i=7
i=8
i=9
i=10
------------------------------
i=1
i=2
i=3
i=4
------------------------------
i=1
i=2
i=3
i=4
i=5
i=6
i=7
i=8
i=9
i=10
------------------------------

In [32]:
#functions #Methods
# it is group statements(specific purpose) that can executed on the function call

# define the function
def greet():
  print("Welcome to python functions")
  print("Thank you")

# call the  function
print("i am before function call")
greet()
print("I am after function call")

i am before function call
Welcome to python functions
Thank you
I am after function call

In [40]:
# addition of two numbers using function

def add(a,b):
  sum=a+b
  return sum
result=add(50,6)
print(f'result = {result}')
print(f'result of sum of numbers={add(70,30)}')

result = 56
result of sum of numbers=100

In [42]:
#lambda function
# Using Normal function
def square(x):
  return x*x
print(f'Value of square using normal function:{square(8)}')

#chech if a number is even
is_even=lambda x:x%2==0
print(f'is_even={is_even(10)}')
print(f'is_even={is_even(11)}')

Value of square using normal function:64
is_even=True
is_even=False

In [51]:
# lambda with map(), filter(),sorted()
#map()
num=[1,2,3,4,5,6]
square=list(map(lambda x:x*x,num))
print(f'square={square}')
print("-"*10,"filter","-"*10)
#filter
num=[1,2,3,4,5,6]
even=list(filter(lambda x:x%2==0,num))
print(f'even={even}')

##filter
num=[1,2,3,4,5,6]
odd=list(filter(lambda x:x%2!=0,num))
print(f'odd={odd}')

#sorted() #ascending order
print("-" *30)
students=[("Arjun",65),("Krishna",300),("Balaram",90),("Sahadev",50),("Nakula",60),("Yudistra",70)]
sorted_students=sorted(students,key=lambda x:x[1])
print(f'sorted_students={sorted_students}')

###
students=[("Arjun",65),("Krishna",300),("Balaram",90),("Sahadev",50),("Nakula",60),("Yudistra",70)]
sorted_students=sorted(students,key=lambda x:x[0])
print(f'sorted_students={sorted_students}')

#descending order
students=[("Arjun",65),("Krishna",300),("Balaram",90),("Sahadev",50),("Nakula",60),("Yudistra",70)]
sorted_students=sorted(students,key=lambda x:x[1],reverse=True)
print(f'sorted_students={sorted_students}')

square=[1, 4, 9, 16, 25, 36]
---------- filter ----------
even=[2, 4, 6]
odd=[1, 3, 5]
------------------------------
sorted_students=[('Sahadev', 50), ('Nakula', 60), ('Arjun', 65), ('Yudistra', 70), ('Balaram', 90), ('Krishna', 300)]
sorted_students=[('Arjun', 65), ('Balaram', 90), ('Krishna', 300), ('Nakula', 60), ('Sahadev', 50), ('Yudistra', 70)]
sorted_students=[('Krishna', 300), ('Balaram', 90), ('Yudistra', 70), ('Arjun', 65), ('Nakula', 60), ('Sahadev', 50)]

DAY -10

In [ ]:
# use case on lambda functions
data=[{"drone_id":12, "alt":150},
      {"drone_id":15, "alt":125},
      {"drone_id":43,"alt":110},
      {"drone_id":56, "alt":95},
      {"drone_id":60, "alt":88}
     ]
flagged = list(filter(lambda x: x["alt"] < 100, data))
print("Drones need attention:",flagged)

Drones need attention: [{'drone_id': 56, 'alt': 95}, {'drone_id': 60, 'alt': 88}]

# DAY-11 ON statistics

statistics is a collection of data,analysing,interpreting the data.
1.STANDARD DEVIATION (measures of dispersion)
problem statement

# **Discussed on statistics (theory)**
what is statistics
types of statistics-
1.descriptive statistics-summarise and organise data
2.inferential satistics-make prediction or generaliztiion from a sample
types of data-
1.qualitative data-numerical values(income,test scores,temperature)
2.quantitative data-categorial values(gender,colors,product type)
*Measures of central tendency-
`mean(avg)-sum of total values/no of values
---avg salary of employee
`median(middle value)
===median house price
`mode(most frequent)
---most purchased product in a supermarkt
*measures of Disperson
range=max-min
--differ of temp in some days
deviation=max-min
*variance=avg of sqaured deviations
*standard deviation=square root of variance.
std is low more the consistency
std is more less the consistency(inconsistent)
*reliability:
*quality control:if the standart deviation is too high, it means the light bulb lifespan is inconsistent . you might need to investigate the manufacturing process to identify and fix the source of the variation.
*probabilty distribution:
*Hypothesis testing:
to test assumption about the thing wherher yes/no for the given assumption.
*correlation and regression
*sampling techniques
-random sampling
-stratified sampling(sub-groups)
-cluster sampling(entire groups)
*Data visualization tools
-histogram
-box plot
-scatter plot
-bar chart