# PYTHON ASSIGNMENT

**PythonControl Control structure**

1. Write a Python program to check whether a number is positive, negative, or zero using an if...elif...else
 statement

In [ ]:
num=int(input("Enter a Number:"))
if num>0:
  print("The Number is positive")
elif num<0:
  print("The number si negative")
else:
  print("The number is zero")

Enter a Number:5
The Number is positive

2.Write a program to find the sum of all even numbers from 1 to 50 using a while loop

In [ ]:
num=2
sum=0
while num <=50:
  sum+=num
  num+=2
print("the sum of all even numbers from 1 to 50:",sum)

the sum of all even numbers from 1 to 50: 650

3. Using a for loop, print all numbers from 1 to 100 that are divisible by both 3 and 5

In [ ]:
num=100
for num in range(1,101):
  if num%3==0 and num%5==0:
    print("The numbers from 1 to 100 divisible by both 3 and 5:",num)

The numbers from 1 to 100 divisible by both 3 and 5: 15
The numbers from 1 to 100 divisible by both 3 and 5: 30
The numbers from 1 to 100 divisible by both 3 and 5: 45
The numbers from 1 to 100 divisible by both 3 and 5: 60
The numbers from 1 to 100 divisible by both 3 and 5: 75
The numbers from 1 to 100 divisible by both 3 and 5: 90

4. Write a program to check whether a given year is a leap year or not using conditional statements

In [ ]:
x=int(input("Enter a Year:"))
if x%4==0 and x%100!=0 or x%400==0:
  print("The year a leap year")
else:
  print("The year is not a leap year")

Enter a Year:2017
The year is not a leap year

5. Implement a menu-driven program using while True and if...elif to perform basic arithmetic operations (+, -,
 *, /) based on user input.

In [ ]:
num = int(input("Enter a number:"))
while True:
    print("Select operation:\n")
    print("1.Addition")
    print("2.Subtraction")
    print("3.Multiplication")
    print("4.Division")
    print("5.Exit")
    choice = int(input("Enter a choice:\n"))
    if choice  ==1:
        print("Addition:",num+num)
    elif choice ==2:
        print("Subtraction:",num-num)
    elif choice ==3:
        print("Multiplication:",num*num)
    elif choice ==4:
        print("Division:",num/num)
    else:
        print("......Exit....\nTry again.")
        break

Enter a number:3
Select operation:

1.Addition
2.Subtraction
3.Multiplication
4.Division
5.Exit
Enter a choice:
1
Addition: 6
Select operation:

1.Addition
2.Subtraction
3.Multiplication
4.Division
5.Exit
Enter a choice:
2
Subtraction: 0
Select operation:

1.Addition
2.Subtraction
3.Multiplication
4.Division
5.Exit
Enter a choice:
3
Multiplication: 9
Select operation:

1.Addition
2.Subtraction
3.Multiplication
4.Division
5.Exit
Enter a choice:
4
Division: 1.0
Select operation:

1.Addition
2.Subtraction
3.Multiplication
4.Division
5.Exit
Enter a choice:
5
......Exit....
Try again.

# Python Functions
1. Write a function that accepts a number and returns its factorial.

In [ ]:
def factorial(n):
  if n==0 or n==1:
    return 1
  else:
    return n*factorial(n-1)
num=int(input("Enter a number:"))
print("The factorial of",num,"is",factorial(num))

Enter a number:5
The factorial of 5 is 120

2. Create a function that checks whether a string is a palindrome

In [ ]:
def is_palindrome(palindrome):
  palindrome=palindrome.lower()
  return palindrome == palindrome[::-1]

word=input("Enter a String:")
if is_palindrome(word):
  print(f'{word} is a palindrome')
else:
  print(f'{word} is not a palindrome')

Enter a String:wow
wow is a palindrome

3. Write a function that takes a list of numbers and returns the average

In [ ]:
def cal_num(numbers):
  if not numbers:
    return 0
  return sum(numbers)/len(numbers)
numbers=[9,8,7,6,5,4,3,2,1]
average=cal_num(numbers)
print("The average of the numbers is:",average)

The average of the numbers is: 5.0

4. Define a function with default arguments that prints a greeting message. Test it with and without passing
 arguments

In [ ]:
def greet(Name="Guest",Msg="Welcome!"):
  print(f"Hello sir/md'm {Name}, {Msg}")
greet("kusuma","Welcome to ANSRise!")
greet()

Hello sir/md'm kusuma, Welcome to ANSRise!
Hello sir/md'm Guest, Welcome!

5.Create a function that accepts a string and returns a dictionary with the count of each character.

In [ ]:
def char_count(string):
  count={}
  for char in string:
    if char in count:
      count[char]+=1
    else:
      count[char]=1
  return count
string=input("Enter a string:")
result=char_count(string)
print(result)

Enter a string:kusuma
{'k': 1, 'u': 2, 's': 1, 'm': 1, 'a': 1}

# python lambda functions

1.Use a lambda function to calculate the square of a number entered by the user

In [ ]:
x = lambda a:a*a
print(x(int(input("Enter a number:"))))

Enter a number:5
25

2. Given a list of integers, use map() and a lambda function to create a new list where each number is
 doubled

In [ ]:
number=[1,2,3,4,5,6,7,8,9]
number=list(map(lambda x:x*2,number))
print(f"Doubled Numbers : {number}")

Doubled Numbers [2, 4, 6, 8, 10, 12, 14, 16, 18]

3.Use a lambda function inside filter() to find all numbers divisible by 3 in a list.

In [ ]:
num=[1,2,3,4,5,6,7,8,9,10,11,12]
filter_num=list(filter(lambda x:x%3==0 , num))
print(f"Numbers divisible by 3 : {filter_num}")

Numbers divisible by 3 : [3, 6, 9, 12]

4.Given a list of tuples with student names and marks, use sorted() and a lambda function to sort them by
 marks in descending order

In [ ]:
import pandas as pd
Data={"students":("kusuma","Varshith","Minnu","sanjana","Laddu","Mahimunnisa"),
      "Marks_scored":(99,67,86,78,89,90)
      }
df=pd.DataFrame(Data)
print("Before Sorting:",df)
print("*"*30)
print(" "*30)
df.sorted=df.sort_values(by="Marks_scored",ascending=False)
print("After Sorting:",df.sorted)

Before Sorting:       students  Marks_scored
0       kusuma            99
1     Varshith            67
2        Minnu            86
3      sanjana            78
4        Laddu            89
5  Mahimunnisa            90
******************************

After Sorting:       students  Marks_scored
0       kusuma            99
5  Mahimunnisa            90
4        Laddu            89
2        Minnu            86
3      sanjana            78
1     Varshith            67

<ipython-input-33-dbae9666db58>:9: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.sorted=df.sort_values(by="Marks_scored",ascending=False)

5. Create a list of strings and use sorted() with a lambda function to sort the list by string length

In [ ]:
import pandas as pd
lst={"Names":["kusuma","Mahender","Varshitha","Mahimunnisa","Jhansi","Meenakshi","Pavan","Kaveri"]}
df=pd.DataFrame(lst,columns=["Names"])
print("Before Sorting:",df)
print("*"*30)
print(" "*30)
df.sorted=df.sort_values(by="Names",key=lambda x:x.str.len())
print("After sorting :",df.sorted)

Before Sorting:          Names
0       kusuma
1     Mahender
2    Varshitha
3  Mahimunnisa
4       Jhansi
5    Meenakshi
6        Pavan
7       Kaveri
******************************

After sorting :          Names
6        Pavan
0       kusuma
4       Jhansi
7       Kaveri
1     Mahender
2    Varshitha
5    Meenakshi
3  Mahimunnisa

<ipython-input-34-90e993263ec6>:7: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.sorted=df.sort_values(by="Names",key=lambda x:x.str.len())